$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$ic-chevron-left: "\f053";
$ic-chevron-right: "\f054";
$ic-arrow-left: "\f060";
$ic-arrow-right: "\f061";
$ic-chevron-circle-left: "\f137";
$ic-chevron-circle-right: "\f138";

